<!-- Encabezado-->
        <div class="container">
            <!--Sacado de bootstrap-->
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/" class="nav-link active"
                            aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="/productos" class="nav-link">Productos</a></li>
                    <li class="nav-item"><a href="/contacto" class="nav-link">Contacto</a></li>
                    <li class="nav-item"><a href="/plano" class="nav-link">Plano</a></li>
                   
                </ul>
            </header>
        </div>